.container h2 {
    color: #343a40;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #ffa94d;
    width: 1140px;
    margin: 60px auto 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 36px;
}

.container {
    width: 1140px;
    margin: auto;
}
